.display{
  margin-top: 20px;
  height: 80px;
  font-size: 50px;
}

.linha{
  margin-top: 10px;

}

.linha button{
  font-size: 35px;
}

.btn 
{
background-color:rgb(0, 0, 0);
color:rgb(255, 255, 255);
}